.App {
    height: 100%;
    min-height: 100vh;
    text-align: center;
    background-color: #282c34;
    overflow-x: hidden;
}

.App-header {
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

// FilterComponent
.list-filters {
    display: block;
    height: 1.5em;
    font-size: 1.5em;
    color: white;
    .list-filter {
        display: inline-block;
        padding: 0.2em;
        margin: 0 0.2em;
        cursor: pointer;
        &.selected {
            text-decoration: underline;
        }
    }
}

// ListComponent
.card-deck {
    display: flex;
    flex-direction: row;
    margin-top: 2vh;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

// Card Component
.card {
    display: flex;
    cursor: pointer;
    color: black;
    height: 80vh;
    max-height: 22em;
    width: calc(100% - 2em);
    max-width: 20em;
    margin: 1em;
    &.show-back .card-inner {
        transform: rotateY(180deg);
    }

    .card-inner {
        height: 70vh;
        max-height: 22em;
        width: 80vw;
        max-width: 20em;
        position: relative;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1);
        border-radius: 1em;

        .card-back {
            transform: rotateY(180deg);
            strong {
                text-transform: capitalize;
            }
        }
        .card-front,
        .card-back {
            position: absolute;
            background-color: #fff;
            height: 100%;
            width: 100%;
            border-radius: 1em;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            flex-direction: column;
            overflow: hidden;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}

@media screen and (max-height: 500px) {
    .card,
    .card-inner .card-front,
    .card-back {
        max-width: 13em;
        height: unset;
    }
}
